{% extends "base/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Manage Your Task<br>Time With Todo</h1>
                 
            <p>All your tasks can be organised <br>in quick access in our Application.<br> Easy to use, smooth to work</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'register' %}">Start</a>
        </div>
    </div>
<style>
h1{
    text-align: center;
    color: blue;
    padding: 20px;
}
p{
    text-align: center;
    color: black;
    padding: 0px;
    font-size: xx-large;
    font-style: italic;
}
</style>
{% endblock %}
